:root {
  --bg-color: #202024;
  --title-color: #e0311b;
  --paragraph-color: #e0491b;
  --font-mono: "JetBrains Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-mono);
  background-color: var(--bg-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: auto max(6.2rem, 10vw);
}

.title {
  font-size: max(4rem, 5vw);
  line-height: 3.5rem;
  color: var(--title-color);
  margin-bottom: 0.9rem;
}

.paragraph {
  font-size: max(1.2rem, 1.85vw);
  font-weight: 600;
  color: var(--paragraph-color);
}

@media (min-width: 750px) {
  .title {
    line-height: normal;
    margin-bottom: auto;
  }

  .paragraph {
    font-weight: normal;
  }
}

@media (min-width: 1500px) {
  .title {
    line-height: normal;
    margin-bottom: auto;  
  }

  .paragraph {
    font-weight: normal;
  }
}
